#  DATABASE — PostgreSQL
DB_URL=
DB_USERNAME=
DB_PASSWORD=

#  REDIS
REDIS_HOST=
REDIS_PORT=

#  JWT
#  Générer avec : openssl rand -base64 32
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_TTL_MINUTES=

#  EMAIL — SMTP
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=
MAIL_SMTP_STARTTLS=
MAIL_SMTP_STARTTLS_REQUIRED=

#  CORS
APP_CORS_ALLOWED_ORIGINS=
APP_CORS_ALLOWED_METHODS=
APP_CORS_ALLOWED_HEADERS=
APP_CORS_EXPOSED_HEADERS=
APP_CORS_ALLOW_CREDENTIALS=
APP_CORS_MAX_AGE=

#  APPLICATION
APP_BASE_URL=
APP_VERIFICATION_ENABLED=
APP_VERIFICATION_TTL_MINUTES=
APP_VERIFICATION_RESEND_DELAY_MINUTES=
APP_BRUTE_FORCE_MAX_ATTEMPTS=
APP_BRUTE_FORCE_BLOCK_MINUTES=
APP_OTP_MAX_ATTEMPTS=
APP_OTP_BLOCK_MINUTES=
APP_REFRESH_TOKEN_TTL_DAYS=

#  EMAIL QUEUE — RQueue
APP_EMAIL_QUEUE_MAX_ATTEMPTS=
APP_EMAIL_QUEUE_BACKOFF_DELAY_MS=
APP_EMAIL_QUEUE_JOB_DEADLINE_MS=

#  FIRST ADMIN
APP_INITIAL_ADMIN_EMAIL=
APP_INITIAL_ADMIN_PASSWORD=
APP_INITIAL_ADMIN_FIRSTNAME=
APP_INITIAL_ADMIN_LASTNAME=

#  ACTUATOR
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=
MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS=